@use '../helpers/variables';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #f5f6f9;
  margin-top: 180px;
}

h1,h2,h3,h4,h5,h6 {
  color: variables.$dark-color;
}

p {
  color: variables.$parg-color;
}

.container {
  width: 75%;
  margin: auto;
}

@media (max-width:1500px) {
  .container {
    width: 80%;
  }
}
