@use '../helpers/variables';
@use '../helpers/mixins';
.slide{
    margin-bottom:100px ;
    .top-slide{
        position: relative;
        margin-bottom: 20px;
        padding: 20px 0;
        border-bottom: 1px solid variables.$border-color;
        &::before{
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100px;
            height: 2px;
            background-color: variables.$main-color;
        }
        h2{
            text-transform: capitalize;
            @include mixins.Medium {
                font-size: 18px;
            }
            span{
                font-weight: normal;
            }
        }
    }
    .mySwiper{
        overflow: hidden;
        position: relative;
        padding: 10px;
        .btn-swip{
            position: absolute;
            top: 35px;
            right: 0;
            background-color: variables.$main-color;
            color: #fff;
            font-weight: bold;
            padding: 0 18px;
            border-radius: 5px;
            &::after{
                font-size: 25px;
            }
            &.swiper-button-prev{
                left:calc(100% - 90px);
            }
        }
    }
}

